.search-bar-container {
    position: absolute;
    top: 10px;
    z-index: 10;
    background: transparent;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.5);
    width: 100%; /* add the width prop dynamically */
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
}

.search-button {
    cursor: pointer;
    position: absolute;
    right: 20px;
    border: none;
    background-color: transparent;
}
